/* CSS Document */

.NewHtmlEditorHiddenDivIE p{		
	margin:15px;
	border:0px solid #ff0000;
}
.NewHtmlEditorHiddenDiv p{		
	margin:14px;
	border:0px solid #ff0000;
}

/*     Ext.ux.HtmlEditor.Plugins.css   */
.x-edit-wordpaste {background: url(images/paste_word.png) 0 0 no-repeat !important;}
.x-edit-table {background: url(images/table.png) 0 0 no-repeat !important;}
.x-edit-hr {background: url(images/edit-rule.png) 0 0 no-repeat !important;}
.x-edit-indent {background: url(images/edit-indent.png) 0 0 no-repeat !important;}
.x-edit-char {background: url(images/edit-char.png) 0 0 no-repeat !important;}
.x-edit-outdent {background: url(images/edit-outdent.png) 0 0 no-repeat !important;}
.x-edit-subscript {background: url(images/text_sub.png) 0 0 no-repeat !important;}
.x-edit-superscript {background: url(images/text_super.png) 0 0 no-repeat !important;}
.x-edit-removeFormat {background: url(images/exclamation.png) 0 0 no-repeat !important;}